.game-card {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-image: url("/assets/img/karta.png");
    transform-style: preserve-3d;

    .front {
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }

    .image-container {
        border: 4px solid #ad9f4e;

        .image {
            max-width: 101%;
            max-height: 101%;
        }
    }
}
