.page-background{
    background-image: url("/assets/img/bgmain.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #9f8f3c;
    font-family: 'Poppins', sans-serif;


    .title{
        text-align: center;
        padding-top: 100px;
        margin-bottom: 100px;
    }
}
.tb-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    

    .tb{
        margin: 0 100px;
        
        h5{
            text-align: center;
        }

        .table{
            color: #9f8f3c;
            font-family: 'Poppins', sans-serif;
        }
    }
}

