<table id="easy">
    <tr>
        <th>User</th>
        <th>Score</th>
    </tr>
    <tr *ngFor="let user of usersEasy | async | slice:0:5">
        <td>{{ user.email }}</td>
        <td>{{ user.highScore.easy }}</td>
    </tr>
</table>

<table id="medium">
    <tr>
        <th>User</th>
        <th>Score</th>
    </tr>
    <tr *ngFor="let user of usersMedium | async | slice:0:5">
        <td>{{ user.email }}</td>
        <td>{{ user.highScore.medium }}</td>
    </tr>
</table>

<table id="hard">
    <tr>
        <th>User</th>
        <th>Score</th>
    </tr>
    <tr *ngFor="let user of usersHard | async | slice:0:5">
        <td>{{ user.email }}</td>
        <td>{{ user.highScore.hard }}</td>
    </tr>
</table>


