.menu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-top: 64px;

    .menu-item {
        width: 200px;
        height: 64px;
        margin: 8px 0;
        background-color: #D4B483;
        &:hover {
            background-color: #48A9A6;
        }
    }
}

